**/data/
.env
config.json
docker-compose.yml
.DS_Store
**/.idea/
*.magnet
**.torrent
torrents.json
**/dist/
*.json
.ven/**
docs/**

# Don't copy node modules
node_modules/

# Don't copy development files
.git/
.gitignore
*.md
.env*
*.log

# Build artifacts
decypharr
healthcheck
*.exe
.venv/
data/**

.stignore
.stfolder/**